SECRET_KEY="Be sure to drink your Ovaltine"
DEBUG=True
# django-storages settings
AWS_ACCESS_KEY_ID="Your AWS access key ID"
AWS_SECRET_ACCESS_KEY="Your AWS secret access key"
AWS_STORAGE_BUCKET_NAME="The S3 bucket for storing stuff"
# Email backend; set this to the SMTP backend in production
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
# Add the appropriate values here
EMAIL_HOST=localhost
EMAIL_HOST_PASSWORD=
EMAIL_HOST_USER=
EMAIL_PORT=
EMAIL_USE_TLS=True
# Who should receive defib submissions?
SUBMISSION_EMAIL_ADDRESS=defibs@example.com
